* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
}

body {
    margin: 0px;
    color: #161616;
}

.header {
    width: 100%;
    height: 54px;
    min-height: 54px;
    padding-inline: 16px;
    padding-left: 16px;
    padding-right: 0;
    display: flex;
    position: relative;
    border-block-end: 1px solid #E6E6E6;
    background-color: #0F6CBD;
    color: #FFFFFF;
}

.header-item {
    border: none;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    min-width: 54px;
    padding: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125;
    display: flex;
    outline-offset: -.125rem;
}

.icon-button {
    font-family: "Segoe Fluent Icons";
    width: 29.5px;
    height: 29.5px;
    margin: 1px;
    border: none;
    background-color: transparent;
}

.new-item-input {
    width: 440px;
    border-radius: 2px;
    border: 1px solid #757575;
    min-height: 31.5px;
    font-size: 14px;
    line-height: 1.5;
    padding: 0px;
    margin: 16px;
}

input {
    box-shadow: none;
    border: none;
    margin: 0px;
    width: 100%;
    height: 31.5px;
    padding-block: 4.25px;
    padding-left: 4px;
    padding-right: 34.5px;
}

.new-item-button {
    margin-left: -34.5px;
}

.list-wrapper {
    margin: 16px;
}

select {
    box-shadow: none;
    height: 34px;
    background-color: #FFFFFF;
    border: 1px solid #757575;
    border-radius: 2px;
    position: absolute;
    left: 472px;
    top: 70px;
}

.list-item {
    width: 473.5px;
    border-radius: 2px;
    border: 1px solid #757575;
    min-height: 31.5px;
    font-size: 14px;
    line-height: 1.5;
    padding: 0px;
    margin: 4px 0px;
}

.list-item-complete {
    background-color: #E0E0E0;
    color: #606060;
}

.list-item-text {
    display: inline-block;
    width: 100%;
    height: 31.5px;
    margin: 0px;
    padding-block: 4.25px;
    padding-left: 4px;
    padding-right: 64px;
}

.list-item-complete>.list-item-text {
    text-decoration: line-through;
}

.list-complete-button {
    margin-left: -64px;
}

.list-item-complete>.list-complete-button {
    color: transparent;
}
